/*
 *  Barra de título
 */
#Window-titlebar{
    /* Display and aligment */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Positions */
    position: fixed;

    /* Background and colors */
    background-color: var(--darker-white-color);

    /* Dimensions and margins */
    width: 100vw;
    height: 35px;

    /* Webkits */
    -webkit-app-region: drag;
}

#Window-titlebar-title{
    /* Display and aligment */
    display: flex;
    align-items: center;

    /* Background and colors */
    background-color: transparent;

    /* Dimensions and margins */
    width: 50vw;
    height: 100%;
}

#Window-titlebar-title label{
    /* Background and colors */
    color: var(--font-color);

    /* Miscellaneous */
    font-size: 13px;

    /* Dimensions and margins */
    margin-left: 5px;
}

#Window-titlebar-title img{
    /* Dimensions and margins */
    width: 20px;
    margin-left: 5px;
}


#Window-titlebar-buttonsdiv{
    /* Display and aligment */
    display: flex;

    /* Dimensions and margins */
    height: 100%;
}

#Window-titlebar-buttonsdiv button{
    /* Display and aligment */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Background and colors */
    background-color: transparent;
    border: none;

    /* Dimensions and margins */
    width: 35px;
    height: 100%;

    /* Webkit */
    -webkit-app-region: no-drag;
}

#Window-titlebar-buttonsdiv button img{
    /* Miscellaneous */
    opacity: 0.5;
    transform: scale(0.5);

    /* Dimensions and margin */
    width: 25px;
}

/*
 *  Eventos
 */
#Window-titlebar-buttonsdiv button:hover{
    background-color: var(--darker-white-color);
}

#Window-titlebar-buttonsdiv button:hover img{
    opacity: 1;
}